/*.split-pane *.split-pane-divider {
    -fx-padding: 1 1 1 1;
}*/

#home_image {
    -fx-cursor: hand;

}

.config_menu {
    -fx-background-color: lightcyan;
    -fx-border-style: solid;
    -fx-border-color: darkgray;
    -fx-border-radius: 5%;
}
